alembic==1.7.6
amqp==5.0.9
appdirs==1.4.4
attrs==21.4.0
autopage==0.5.0
Babel==2.9.1
bcrypt==3.2.0
beautifulsoup4==4.10.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cliff==3.10.1
cmd2==2.4.0
cotyledon==1.7.3
cryptography==36.0.1
dataclasses==0.8
debtcollector==2.5.0
decorator==4.4.2
dnspython==2.1.0
dogpile.cache==1.1.5
eventlet==0.33.0
extras==1.0.0
fasteners==0.17.3
fixtures==3.0.0
Flask==2.0.3
futurist==2.4.0
greenlet==1.1.2
grpcio==1.44.0
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
iso8601==1.0.2
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
jsonpatch==1.32
jsonpointer==2.2
keystoneauth1==4.5.0
kombu==5.1.0
kuryr-lib==2.5.0
logutils==0.3.5
Mako==1.1.6
MarkupSafe==2.0.1
msgpack==1.0.3
munch==2.5.0
netaddr==0.8.0
netifaces==0.11.0
neutron-lib==2.20.0
openstacksdk==0.61.0
os-client-config==2.1.0
os-ken==2.3.1
os-service-types==1.7.0
os-traits==2.7.0
os-vif==2.7.1
osc-lib==2.5.0
oslo.cache==2.10.1
oslo.concurrency==4.5.0
oslo.config==8.8.0
oslo.context==4.1.0
oslo.db==11.2.0
oslo.i18n==5.1.0
oslo.log==4.7.0
oslo.messaging==12.13.0
oslo.metrics==0.4.0
oslo.middleware==4.5.1
oslo.policy==3.11.0
oslo.privsep==2.7.0
oslo.reports==2.3.0
oslo.serialization==4.3.0
oslo.service==2.8.0
oslo.upgradecheck==1.5.0
oslo.utils==4.12.3
oslo.versionedobjects==2.6.0
osprofiler==3.4.2
ovs==2.16.0
ovsdbapp==1.15.2
packaging==21.3
Paste==3.5.0
PasteDeploy==2.1.1
pbr==5.8.1
pecan==1.4.1
pip==21.3.1
prettytable==2.5.0
prometheus-client==0.13.1
protobuf==3.19.4
psutil==5.9.0
pycparser==2.21
pyinotify==0.9.6
pyparsing==3.0.7
pyperclip==1.8.2
pyroute2==0.6.6
pyroute2.core==0.6.6
pyroute2.ethtool==0.6.6
pyroute2.ipdb==0.6.6
pyroute2.ipset==0.6.6
pyroute2.ndb==0.6.6
pyroute2.nftables==0.6.6
pyroute2.nslink==0.6.6
python-dateutil==2.8.2
python-keystoneclient==4.4.0
python-neutronclient==7.8.0
pytz==2021.3
PyYAML==6.0
repoze.lru==0.7
requests==2.27.1
requestsexceptions==1.4.0
retrying==1.3.3
rfc3986==1.5.0
Routes==2.5.1
setproctitle==1.2.2
setuptools==59.6.0
simplejson==3.17.6
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.3.1
SQLAlchemy==1.4.31
sqlalchemy-migrate==0.13.0
sqlparse==0.4.2
statsd==3.3.0
stevedore==3.5.0
Tempita==0.5.2
testresources==2.0.1
testscenarios==0.5.0
testtools==2.5.0
typing_extensions==4.1.1
urllib3==1.26.8
vine==5.0.0
waitress==2.0.0
wcwidth==0.2.5
WebOb==1.8.7
WebTest==3.0.0
Werkzeug==2.0.3
wheel==0.37.1
wrapt==1.13.3
yappi==1.3.3
zipp==3.6.0
